#clock {
  position: relative; /*always look for parent first and put position to it*/
}

#clock img {
  position:absolute;
}

#hour {
  /*position: relative;*/
}

#minute {
  /*position: relative;*/
  z-index: 1
}

#second {
  /*posi  tion: relative;*/
  z-index: 2
}
